<header>
    <div class="container info-formation" id="formation">
        <div class="row"><br><br><br></div>
        <div class="row">
            <div class="col-md-3">
                <h2 id="education"><br></h2>
                <h2><br></h2>
                <h2>EDUCATION</h2>
            </div> 
        </div>
    </div>
</header>

<section>
    <div class="container">
        <div class="row">
            <div class="linea-tiempo col-md">
                <div class="momento col-md-3 year2019">
                    <h3>2019</h3>
                    <div class="description">
                        <p>Sonido y Grabación.<br>(Estudio Urbano // CABA, Argentina)</p> 
                    </div>
                    <div class="description">
                        <p>Ableton Live.<br>(Estudio Urbano // CABA, Argentina)</p> 
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="momento col-md-3 year2020">
                <h3>2020</h3>
                <div class="description">
                    <p>Muisc Business. <br>(Florida World University // Florida, USA) <br>---Becado</p>
                </div>
            </div>
            <div class="momento col-md-3 year2020-t">
                <h3>2020 - Present</h3>
                <div class="description">
                    <p>Tecnico en Sonido y Producción. <br>(Tamaba // CABA, Argentina)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="momento col-md-3 year2022">
                <h3>2022</h3>
                <div class="description">
                    <p>Audio for Games. <br>(UTN // CABA, Argentina)</p>
                </div>
            </div>
            <div class="momento col-md-3 year2022-t">
                <h3>2022 - Present</h3>
                <div class="description">
                    <p>Programación. <br>(INTI y cessi // Argentina)</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-9"></div>
            <div class="momento col-md-3 year2023">
                <h3>2023</h3>
                <div class="description">
                    <p>Vice Chair position in AES-Tamaba.</p>
                </div>
            </div>
        </div>  
    </div>
</section>
