<header>
    <div class="container"> 
        <div class="row"> 
            <div>
                <h2 id="skills"><br></h2>
                <h2><br></h2>
                <h2>MY SKILLS</h2>
            </div>
        </div>
    </div>
</header>

<section>
    <div class="container skills">
        <div class="row">
            <div class="col-md">
                <ul class="skillsblock">
                    <li>
                        <h4>{{skill1}}</h4><span class="bar"><span class="skill1"></span></span>
                    </li>
                    <li>
                        <h4>{{skill2}} </h4><span class="bar"><span class="skill2"></span></span>
                    </li>
                    <li>
                        <h4>{{skill3}}</h4><span class="bar"><span class="skill3"></span></span>
                    </li>
                    <li>
                        <h4>{{skill4}}</h4><span class="bar"><span class="skill4"></span></span>
                    </li>
                    <li>
                        <h4>{{skill5}}</h4><span class="bar"><span class="skill5"></span></span>
                    </li>
                </ul>    
            </div>
            <div class="col-md">
                <ul class="skillsblock">
                    <li>
                        <h4>{{skill6}}</h4><span class="bar"><span class="skill6"></span></span>
                    </li>
                    <li>
                        <h4>{{skill7}} </h4><span class="bar"><span class="skill7"></span></span>
                    </li>
                    <li>
                        <h4>{{skill8}}</h4><span class="bar"><span class="skill8"></span></span>
                    </li>
                    <li>
                        <h4>{{skill9}}</h4><span class="bar"><span class="skill9"></span></span>
                    </li>
                    <li>
                        <h4>{{skill10}}</h4><span class="bar"><span class="skill10"></span></span>
                    </li>
                </ul>    
            </div>
            <div class="col-md">
                <ul class="skillsblock">
                    <li>
                        <h4>{{skill11}}</h4><span class="bar"><span class="skill11"></span></span>
                    </li>
                    <li>
                        <h4>{{skill12}} </h4><span class="bar"><span class="skill12"></span></span>
                    </li>
                    <li>
                        <h4>{{skill13}}</h4><span class="bar"><span class="skill13"></span></span>
                    </li>
                    <li>
                        <h4>{{skill14}}</h4><span class="bar"><span class="skill14"></span></span>
                    </li>
                    <li>
                        <h4>{{skill15}}</h4><span class="bar"><span class="skill15"></span></span>
                    </li>
                </ul>    
            </div>
        </div>
    </div>
</section>