<header>
    <h2></h2>
</header>
<section>
    <div class="container">
        <div class="row">
            <div class="col-md">
                <h1 id="contact">Pongamonos en contacto!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md">
                <h2>Mi inbox está abierta.</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md d-flex justify-content-center">
                <button><a href="mailto:ariadna.trotta@gmail.com" class="mail"> <p>Enviame un e-mail.</p></a></button>
            </div>
        </div>
    </div>
</section>